header {
    background-image: url('../../assets/profile-0.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}

.overlay {
    background-color: rgba(0,0,0,0.6);
    height: 100vh;
    padding-top: 7rem;
}

.header__container {
    text-align: center;
    height: 100%;
    position: relative;
}

.action {
    padding-top: 8rem;
    /* top: calc(50% - 7rem); */
}

.action h1 {
    font-size: 4rem;
    font-family: Helvetica, sans-serif;
}

.cta {
    margin-top: 2.0rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}


.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}

.header__socials::after {
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

.header__socials::before {
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

.me-0 {
    background: linear-gradient(transparent, transparent);
    width: 7rem;
    height: 7rem;
    position: absolute;
    left: calc(20% - 17rem);
    top: calc(50% - 5rem);
    margin-top: 1rem;
    border-radius: 12rem 12rem 12rem 12rem;
    overflow: hidden;
    padding: 2rem 1.5rem 1.5rem 1.5rem;
    /* transform:skew(-10deg); */
}

.me-1 {
    background:  linear-gradient(transparent, transparent);
    width: 7rem;
    height: 7rem;
    position: absolute;
    right: calc(20% - 7rem);
    top: calc(50% - 10rem);
    margin-top: 1rem;
    border-radius: 12rem 12rem 12rem 12rem;
    overflow: hidden;
    padding: 2rem 1.5rem 1.5rem 1.5rem;
    /* transform:skew(10deg) */
}

.me-3 {
    background:  linear-gradient(transparent, transparent);
    width: 7rem;
    height: 7rem;
    position: absolute;
    right: calc(20% - 15rem);
    top: calc(50% - 23rem);
    margin-top: 1rem;
    border-radius: 12rem 12rem 12rem 12rem;
    overflow: hidden;
    padding: 2rem 1.5rem 1.5rem 1.5rem;
    /* transform:skew(10deg) */
}

.me-4 {
    background: linear-gradient(transparent, transparent);;
    width: 7rem;
    height: 7rem;
    position: absolute;
    right: calc(30% - 0rem);
    top: calc(50% - 23rem);
    margin-top: 1rem;
    border-radius: 12rem 12rem 12rem 12rem;
    overflow: hidden;
    padding: 2rem 1.5rem 1.5rem 1.5rem;
    /* transform:skew(10deg) */
}

.me-5 {
    background:  linear-gradient(transparent, transparent);
    width: 7rem;
    height: 7rem;
    position: absolute;
    left: calc(20% - 20rem);
    top: calc(50% - 22rem);
    margin-top: 1rem;
    border-radius: 12rem 12rem 12rem 12rem;
    overflow: hidden;
    padding: 2rem 1.5rem 1.5rem 1.5rem;
    /* transform:skew(-10deg); */
}

.me-6 {
    background:  linear-gradient(transparent, transparent);;
    width: 7rem;
    height: 7rem;
    position: absolute;
    left: calc(25% - 0rem);
    top: calc(50% - 15rem);
    margin-top: 1rem;
    border-radius: 12rem 12rem 12rem 12rem;
    overflow: hidden;
    padding: 2rem 1.5rem 1.5rem 1.5rem;
    /* transform:skew(-10deg); */
}


.me-7 {
    background:  linear-gradient(transparent, transparent);
    width: 7rem;
    height: 7rem;
    position: absolute;
    left: calc(20% - 1rem);
    top: calc(70% - 1rem);
    margin-top: 1rem;
    border-radius: 12rem 12rem 12rem 12rem;
    overflow: hidden;
    padding: 2rem 1.5rem 1.5rem 1.5rem;
}




.me-2    {
    background: linear-gradient(var(--color-primary), transparent);
    width: 14rem;
    height: 30rem;
    position: absolute;
    left: calc(50% - 7rem);
    margin-top: 4rem;
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    padding: 5rem 1.5rem 1.5rem 1.5rem;
}

.me-8 {
    background:  linear-gradient(transparent, transparent);
    width: 7rem;
    height: 7rem;
    position: absolute;
    right: calc(20% - 0rem);
    bottom: calc(50% - 10rem);
    margin-top: 1rem;
    border-radius: 12rem 12rem 12rem 12rem;
    overflow: hidden;
    padding: 2rem 1.5rem 1.5rem 1.5rem;
    /* transition: ease; */
}

.scroll__down {
    position:absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform:rotate(90deg);
}

.scroll__down::after {
    content: '>>>';
    margin-left: 1rem;
}

@media screen and (max-width: 1024px){

    header {
        height: 100vh;
        padding-top: 4rem;
    }

    .me-2    {
        margin-top: 2rem;
    }
    .me-1    {
    transform:skew(0deg)
    }
    .me-0    {
    transform:skew(0deg)
    }
}

@media screen and (max-width: 768px){

    header {
        height: 100vh;
        padding-top: 4rem;
    }

    .me-0, .me-1 {
        display: none;
    }

    .me-2    {
        margin-top: 2rem;
    }
}
@media screen and (max-width: 600px){

    header {
        height: 100vh;
    }
    .header__socials, .scroll__down {
        display: none;
    }

    .me-0, .me-1 {
        display: none;
    }
}